<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lenovo.dao.ReturnitemMapper" >
  <resultMap id="BaseResultMap" type="com.lenovo.entity.Returnitem" >
    <id column="ReturnItemId" property="returnItemId" jdbcType="INTEGER" />
    <result column="ReturnOrderId" property="returnOrderId" jdbcType="INTEGER" />
    <result column="ProductCode" property="productCode" jdbcType="VARCHAR" />
    <result column="ProductName" property="productName" jdbcType="VARCHAR" />
    <result column="Sn" property="sn" jdbcType="VARCHAR" />
    <result column="Quanity" property="quanity" jdbcType="INTEGER" />
    <result column="Discount" property="discount" jdbcType="DECIMAL" />
    <result column="NutDiscount" property="nutDiscount" jdbcType="DECIMAL" />
    <result column="Price" property="price" jdbcType="DECIMAL" />
    <result column="WareHouse" property="wareHouse" jdbcType="VARCHAR" />
    <result column="ShopId" property="shopId" jdbcType="VARCHAR" />
    <result column="ProductGroup" property="productGroup" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ModifyTime" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ReturnItemId, ReturnOrderId, ProductCode, ProductName, Sn, Quanity, Discount, NutDiscount, 
    Price, WareHouse, ShopId, ProductGroup, CreateTime, ModifyTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lenovo.entity.ReturnitemCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ReturnItem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ReturnItem
    where ReturnItemId = #{returnItemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ReturnItem
    where ReturnItemId = #{returnItemId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lenovo.entity.ReturnitemCriteria" >
    delete from ReturnItem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lenovo.entity.Returnitem" >
    insert into ReturnItem (ReturnItemId, ReturnOrderId, ProductCode, 
      ProductName, Sn, Quanity, 
      Discount, NutDiscount, Price, 
      WareHouse, ShopId, ProductGroup, 
      CreateTime, ModifyTime)
    values (#{returnItemId,jdbcType=INTEGER}, #{returnOrderId,jdbcType=INTEGER}, #{productCode,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{sn,jdbcType=VARCHAR}, #{quanity,jdbcType=INTEGER}, 
      #{discount,jdbcType=DECIMAL}, #{nutDiscount,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, 
      #{wareHouse,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, #{productGroup,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lenovo.entity.Returnitem" >
    insert into ReturnItem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="returnItemId != null" >
        ReturnItemId,
      </if>
      <if test="returnOrderId != null" >
        ReturnOrderId,
      </if>
      <if test="productCode != null" >
        ProductCode,
      </if>
      <if test="productName != null" >
        ProductName,
      </if>
      <if test="sn != null" >
        Sn,
      </if>
      <if test="quanity != null" >
        Quanity,
      </if>
      <if test="discount != null" >
        Discount,
      </if>
      <if test="nutDiscount != null" >
        NutDiscount,
      </if>
      <if test="price != null" >
        Price,
      </if>
      <if test="wareHouse != null" >
        WareHouse,
      </if>
      <if test="shopId != null" >
        ShopId,
      </if>
      <if test="productGroup != null" >
        ProductGroup,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="modifyTime != null" >
        ModifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="returnItemId != null" >
        #{returnItemId,jdbcType=INTEGER},
      </if>
      <if test="returnOrderId != null" >
        #{returnOrderId,jdbcType=INTEGER},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="quanity != null" >
        #{quanity,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="nutDiscount != null" >
        #{nutDiscount,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="wareHouse != null" >
        #{wareHouse,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="productGroup != null" >
        #{productGroup,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lenovo.entity.ReturnitemCriteria" resultType="java.lang.Integer" >
    select count(*) from ReturnItem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ReturnItem
    <set >
      <if test="record.returnItemId != null" >
        ReturnItemId = #{record.returnItemId,jdbcType=INTEGER},
      </if>
      <if test="record.returnOrderId != null" >
        ReturnOrderId = #{record.returnOrderId,jdbcType=INTEGER},
      </if>
      <if test="record.productCode != null" >
        ProductCode = #{record.productCode,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null" >
        ProductName = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.sn != null" >
        Sn = #{record.sn,jdbcType=VARCHAR},
      </if>
      <if test="record.quanity != null" >
        Quanity = #{record.quanity,jdbcType=INTEGER},
      </if>
      <if test="record.discount != null" >
        Discount = #{record.discount,jdbcType=DECIMAL},
      </if>
      <if test="record.nutDiscount != null" >
        NutDiscount = #{record.nutDiscount,jdbcType=DECIMAL},
      </if>
      <if test="record.price != null" >
        Price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.wareHouse != null" >
        WareHouse = #{record.wareHouse,jdbcType=VARCHAR},
      </if>
      <if test="record.shopId != null" >
        ShopId = #{record.shopId,jdbcType=VARCHAR},
      </if>
      <if test="record.productGroup != null" >
        ProductGroup = #{record.productGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        ModifyTime = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ReturnItem
    set ReturnItemId = #{record.returnItemId,jdbcType=INTEGER},
      ReturnOrderId = #{record.returnOrderId,jdbcType=INTEGER},
      ProductCode = #{record.productCode,jdbcType=VARCHAR},
      ProductName = #{record.productName,jdbcType=VARCHAR},
      Sn = #{record.sn,jdbcType=VARCHAR},
      Quanity = #{record.quanity,jdbcType=INTEGER},
      Discount = #{record.discount,jdbcType=DECIMAL},
      NutDiscount = #{record.nutDiscount,jdbcType=DECIMAL},
      Price = #{record.price,jdbcType=DECIMAL},
      WareHouse = #{record.wareHouse,jdbcType=VARCHAR},
      ShopId = #{record.shopId,jdbcType=VARCHAR},
      ProductGroup = #{record.productGroup,jdbcType=VARCHAR},
      CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
      ModifyTime = #{record.modifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lenovo.entity.Returnitem" >
    update ReturnItem
    <set >
      <if test="returnOrderId != null" >
        ReturnOrderId = #{returnOrderId,jdbcType=INTEGER},
      </if>
      <if test="productCode != null" >
        ProductCode = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        ProductName = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        Sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="quanity != null" >
        Quanity = #{quanity,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        Discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="nutDiscount != null" >
        NutDiscount = #{nutDiscount,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        Price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="wareHouse != null" >
        WareHouse = #{wareHouse,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        ShopId = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="productGroup != null" >
        ProductGroup = #{productGroup,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        ModifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ReturnItemId = #{returnItemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lenovo.entity.Returnitem" >
    update ReturnItem
    set ReturnOrderId = #{returnOrderId,jdbcType=INTEGER},
      ProductCode = #{productCode,jdbcType=VARCHAR},
      ProductName = #{productName,jdbcType=VARCHAR},
      Sn = #{sn,jdbcType=VARCHAR},
      Quanity = #{quanity,jdbcType=INTEGER},
      Discount = #{discount,jdbcType=DECIMAL},
      NutDiscount = #{nutDiscount,jdbcType=DECIMAL},
      Price = #{price,jdbcType=DECIMAL},
      WareHouse = #{wareHouse,jdbcType=VARCHAR},
      ShopId = #{shopId,jdbcType=VARCHAR},
      ProductGroup = #{productGroup,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      ModifyTime = #{modifyTime,jdbcType=TIMESTAMP}
    where ReturnItemId = #{returnItemId,jdbcType=INTEGER}
  </update>
</mapper>